<div class="client-subscribers-container">
	<div class="client-subscriber-title">
		<h2>Subscribers</h2>
	</div>
	<div class="client-subscribers-content-container">
		<ul class="client-subscribers-content-list-container">
			<li class="client-subscriber-content-list-item">
				<a href="" class="client-subscriber-content-link">
				<div class="client-subscriber-content-wrapper">
					<div class="client-subscriber-content-image">
						<img src="./images/dreamworks.png">
					</div>
					<div class="client-subscriber-content-content-text">
						<div> 
							<h3>Dreamworks Ltd</h3>
						</div>
						<div class="client-subscriber-company-stars">
							<div class="star-rating">
							    <a href="">
							    	<input type="radio" name="rating" value="1" id='input1'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="2" id='input2' >
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="3" id='input3'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="4" id='input4'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="5" id='input5'>
							    	  <i></i>
							    </a>
						  	</div>

						</div>
						<div class="client-subscriber-count">
							<h5><span>18</span> Subscribers</h5>
						</div>
					</div>
				</div>
				</a>
			</li>
			<li class="client-subscriber-content-list-item">
				<a href="" class="client-subscriber-content-link">
				<div class="client-subscriber-content-wrapper">
					<div class="client-subscriber-content-image">
						<img src="./images/dreamworks.png">
					</div>
					<div class="client-subscriber-content-content-text">
						<div> 
							<h3>Dreamworks Ltd</h3>
						</div>
						<div class="client-subscriber-company-stars">
							<div class="star-rating">
							    <a href="">
							    	<input type="radio" name="rating" value="1" id='input1'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="2" id='input2' >
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="3" id='input3'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="4" id='input4'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="5" id='input5'>
							    	  <i></i>
							    </a>
						  	</div>

						</div>
						<div class="client-subscriber-count">
							<h5><span>18</span> Subscribers</h5>
						</div>

					</div>
				</div>
				</a>
			</li>
			<li class="client-subscriber-content-list-item">
				<a href="" class="client-subscriber-content-link">
				<div class="client-subscriber-content-wrapper">
					<div class="client-subscriber-content-image">
						<img src="./images/dreamworks.png">
					</div>
					<div class="client-subscriber-content-content-text">
						<div> 
							<h3>Dreamworks Ltd</h3>
						</div>
						<div class="client-subscriber-company-stars">
							<div class="star-rating">
							    <a href="">
							    	<input type="radio" name="rating" value="1" id='input1'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="2" id='input2' >
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="3" id='input3'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="4" id='input4'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="5" id='input5'>
							    	  <i></i>
							    </a>
						  	</div>

						</div>
						<div class="client-subscriber-count">
							<h5><span>18</span> Subscribers</h5>
						</div>
					</div>
				</div>
				</a>
			</li>
			<li class="client-subscriber-content-list-item">
				<a href="" class="client-subscriber-content-link">
				<div class="client-subscriber-content-wrapper">
					<div class="client-subscriber-content-image">
						<img src="./images/dreamworks.png">
					</div>
					<div class="client-subscriber-content-content-text">
						<div> 
							<h3>Dreamworks Ltd</h3>
						</div>
						<div class="client-subscriber-company-stars">
							<div class="star-rating">
							    <a href="">
							    	<input type="radio" name="rating" value="1" id='input1'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="2" id='input2' >
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="3" id='input3'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="4" id='input4'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="5" id='input5'>
							    	  <i></i>
							    </a>
						  	</div>

						</div>
						<div class="client-subscriber-count">
							<h5><span>18</span> Subscribers</h5>
						</div>
					</div>
				</div>
				</a>
			</li>
			<li class="client-subscriber-content-list-item">
				<a href="" class="client-subscriber-content-link">
				<div class="client-subscriber-content-wrapper">
					<div class="client-subscriber-content-image">
						<img src="./images/dreamworks.png">
					</div>
					<div class="client-subscriber-content-content-text">
						<div> 
							<h3>Dreamworks Ltd</h3>
						</div>
						<div class="client-subscriber-company-stars">
							<div class="star-rating">
							    <a href="">
							    	<input type="radio" name="rating" value="1" id='input1'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="2" id='input2' >
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="3" id='input3'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="4" id='input4'>
							    	  <i></i>
							    </a>

							    <a href="">
							    	<input type="radio" name="rating" value="5" id='input5'>
							    	  <i></i>
							    </a>
						  	</div>

						</div>
						<div class="client-subscriber-count">
							<h5><span>18</span> Subscribers</h5>
						</div>
					</div>
				</div>
				</a>
			</li>
		</ul>
	</div>
</div>