<form method="post" action="postNewJob">
	<input type="text" name="category" placeholder="category">
	<input type="text" name="title" placeholder="Job Title">
	<input type="text" name="description" placeholder="Job Description">
	<input type="text" name="deadline" placeholder="Deadline">
	<input type="text" name="budget" placeholder="Budget">
	<input type="text" name="paymentType" placeholder="Payment Type">
	<input type="text" name="projectType" placeholder="Project Type">
	<input type="submit" value="Post New Job">
</form>

