<h1>Log In</h1>

<form method="POST" action="logInAction">
	<input type="text" name="userName" placeholder="User Name">
	<input type="text" name="password" placeholder="Password">
	
	<input type="submit">
</form>
<h1>OR</h1>

<h1><a href="logInFacebook">Facebook Authentication</a></h1>
<h1><a href="logInGoogle">Google Authentication</a></h1>