<h1>Register Client</h1>
<form method="POST" action="registerClientAction">
	<input type="text" name="userName" placeholder="User Name" required>
	<input type="hidden" name="type" value="client">
	<input type="text" name="fname" placeholder="First Name">
	<input type="text" name="lname" placeholder="Last Name">
	<input type="text" name="email" placeholder="EMAIL">
	<input type="text" name="password" placeholder="Password" required>
	<input type="text" name="repassword" placeholder="Type password again" required>
	<input type="submit">
</form>
<h1><a href="logInFacebook">Facebook Authentication</a></h1>
<h1><a href="logInGoogle">Google Authentication</a></h1>