<h1>Do you already have account? </h1> 
<a href="logIn"> Log In</a>
<h1>Or Sign Up</h1>

<h3>
	tell us what you  want
</h3>
<a href="registerClient" >Hire</a>  people   
or
<a href="registerWorker" >Find Job</a>